:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body{
  margin: 0;
  --button-option-bg: rgba(182, 220, 244, 0.30);
  --button-option-bg-hover: rgba(182, 220, 244, 0.9);
  --correct: lightgreen;
  --wrong: #ff9999;
}
p{
  font-size: 18px;
}
